@import './fonts.scss';
@import './colors.scss';
@import './sosmed_icons.scss';
@import './_mixins.scss';

.benefits-header {
	height: 300px;
    background: url('../assets/background/04-Benefits-Hero_image_3.jpg');
    background-size: cover;

    .title {
    	top: 50%;
    	left: 50%;
    	position: relative;
    	float: left;
        transform: translate(-50%, -50%);
	    h1 {
	    	font-family: $proxima-bold;
			font-size: 42px;
			font-weight: 700;
	    
		    @include mobile-device-screen {
		    	font-size: 26px;
		    }
	    }
	    .border-bottom-text {
			margin-top: 10px;
			border-bottom: 3px solid $dark-pink;
			width: 30%;
			margin-left: auto;
			margin-right: auto;
	    }
    }

    @include mobile-device-screen {
    	height: 110px;
    }
}

.benefits-content {
	padding: 70px 0;

    @include mobile-device-screen {
    	padding: 20px 0 50px;
    }

	[class*='col-'] {
		padding: 0;
		float: left;

	    @include mobile-device-screen {
	    	padding: 0 15px;
	    }
	}

	&.bg-gray {
		background-color: $soft-gray;
	}

	.bottom {
		.benefit-list {
			padding: 10px 34px;

			.social {
				font-family: $proxima-bold;
				margin-top: 10px;
				font-size: 11px;
				font-weight: 700;
				line-height: 18px;

				a {
					color: $soft-blue;
				}

				.icon {
					&.mt-3 {
						margin-top: 3px !important;
					}
					font-size: 16px;
					margin-left: -4px;
				}

				.followers {
					margin-left: 5px;
				}

				@include mobile-device-screen {
			    	padding:0;
			    	.icon {
						margin-left: 0;
						padding: 0;
					}

			    	.followers {
						margin-left: 0;
						padding: 0;
					}
			    }
			}

			p {
				margin-top: 10px;
				padding-right: 4.6vw;
			}


		    @include mobile-device-screen {
		    	padding: 0 15px;
		    }
		}
	}

	img {
		height: 150px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;

	    @include mobile-device-screen {
	    	height: 170px;
	    	margin-top: 50px;
	    }
	}

	h2 {
		font-family: $proxima-bold;
		font-size: 28px;
		font-weight: 700;
		line-height: 43px;
	    
	    @include mobile-device-screen {
	    	font-size: 22px;
	    }
	}

	p {
		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
		color: $dark-gray;

		em {
			font-family: $proxima-semi-bold;
		}

		&.title {
			font-size: 16px;
			font-family: $proxima-bold;
	    	height: 50px;

		    @include mobile-device-screen {
		    	height: auto;
		    }
		}
	}
    
    .border-bottom-left-text {
		margin-top: 10px;
		border-bottom: 3px solid $dark-pink;
		width: 45px;
		margin-left: 3px;
    }
}

.benefit-footer {
	height: 265px;
    background: url('../assets/background/03-Homepage-Create_Account_Section.jpg');
    background-size: cover;

    .title {
    	top: 50%;
		left: 50%;
		position: relative;
		float: left;
		transform: translate(-50%, -50%);
		text-align: center;
	    h2 {
	    	font-family: $proxima-semi-bold;
			font-size: 22px;
			color: $white;
			@include mobile-device-screen {
				font-size: 18px;
				line-height: 25px;
		    }
	    }

	    .border-bottom-text {
	    	display: none;
	    }

	    @include mobile-device-screen {
			padding: 0 13px;
		    .border-bottom-text {
		    	display: block;
				margin-top: 10px;
				border-bottom: 3px solid $dark-pink;
				width: 10%;
				margin-left: auto;
				margin-right: auto;
		    }
	    }

	    .button {
	    	margin-top: 35px;
			a {
				padding: 8px 25px;
				background: $soft-blue;
				border-radius: 4px;
				font-size: 14px;
				color: $white;
			}
			@include mobile-device-screen {
	    		margin-top: 25px;
		    }
	    }

    }
}