//LIST OF COLORS

//WHITE
$white: #FFF;

//PINK
$dark-pink: #FF3366;

//GRAY
$dark-gray: #555555;
$soft-gray: #F8F8F8;
$border-gray: #979797;
$new-gray: #848484;

//BLUE
$soft-blue: #698DF5;

//RED
$red: #FF3166;

//GREEN
$turqoise: #38CBAE;

//GOLD
$gold: #C49F42;