@import "compass/reset";
@import './fonts.scss';
@import './colors.scss';

//general 
html {
    font-family: $proxima;
    font-family: 400;
    
}

li {
    list-style: none;
    
}
p,li,a,h1,h2,h3 {
    color: #555;
}


// button , a , img , text

button {
    font-family: $proxima;
    font-weight: 700;
}
.block {
    display: block;
}


.btn-primary {
    background-color: $soft-blue;
    border-color:$soft-blue;
    &.mid-button {
        //width: 170px;
        padding: 10px 15px;;
        margin-left: auto;
        margin-right: auto;
    }
}

.img-responsive {
    width: 100%;
}


.head-section {
    color: $dark-gray;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
}

.tag-head {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.64px;
    line-height: 24px;
    text-align: center;
    display: block; 
}

// margin & padding

.m-top20 {
    margin-top: 20px;
}
.m-top30 {
    margin-top: 30px;
}

.m-top40 {
    margin-top: 40px;
}

.m-top60 {
    margin-top: 60px;
}


.m-btm20 {
    margin-bottom: 20px;
}

.m-btm30 {
    margin-bottom: 30px;
}

.m-btm40 {
    margin-bottom: 40px;
}
.m-btm60 {
    margin-bottom: 60px;
}

.p-left15 {
    padding-left: 15px;
}

.p-left30 {
    padding-left: 30px;
}

.p-top10 {
    padding-top: 10px;
}

.p-top20 {
    padding-top: 20px;
}

.pd-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
// border

.border-pink{
    width: 45px;
    height: 3px;
    margin-top: 25px;
    display: block;
    background-color: #FF3366;
    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}

// font & line height

.l-h28 {
    line-height: 28px;
}


.f-w400 {
    font-weight: 400;
}

.f-w700 {
    font-weight: 700;
}


.white {
    color: #FFF !important;
}

.dark-gray {
    color:$dark-gray;
}

// background

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Logo-Vendor-Indonesia {
    width: 2346px;
    height: 1540px;
    background-position: -5px -5px;
}


.benefits-header {
	height: 300px;
    
    background-size: cover;

    
}

.page-header {
    background-size: cover;
    height: 300px;
    &.testimonials {
        background: image-url('background/05-Success_Stories.jpg');
    }
    &.benefits {
        background: image-url('background/04-Benefits-Hero_image_3.jpg');
    }
    
    .title {
        top: 50%;
        left: 50%;
        position: relative;
        float: left;
        transform: translate(-50%, -50%);
        
	    h1 {
	    	font-family: $proxima-bold;
			font-size: 42px;
			font-weight: 700;
	    }
	    .border-bottom-text {
			margin-top: 10px;
			border-bottom: 3px solid $dark-pink;
			width: 30%;
			margin-left: auto;
			margin-right: auto;
	    }
    }

}


// 5 columns

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align:center;
    .img-responsive {
        width: 90%;
    }
}
.col-xs-15 {
    width: 20%;
    float: left;
}

// costum responsive


.mobile {
    display: none;
}

@media (max-width: 450px) {
    display: block;
    .col-lg-15 {
        -webkit-box-flex: 0; 
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 200px) {
.col-lg-15 {
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
}
@media (min-width: 992px) {
    .col-lg-15 {
        -webkit-box-flex: 0; 
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1200px) {

    .col-lg-15 {
        width: 20%;
        float: left;
    }
}