@import "compass/reset";

@font-face {
    font-family:brandon-bold;
    src: url("../assets/fonts/Brandon_bld.otf");
}

@font-face {
    font-family:brandon-reg-italic ;
    src: url("../assets/fonts/Brandon_reg_it.otf");
}

@font-face {
    font-family:brandon-reg;
    src: url("../assets/fonts/Brandon_reg.otf");
}

.bg-white {
    background-color: white !important;
}

.bg-soft-gray {
    background-color: #F8F8F8 !important;
}