@import "compass";
@import './colors.scss';
@import './fonts.scss';
@import './_mixins.scss';

header {
    &.container-fluid {
        padding-left:0px;
        padding-right: 0px;
    }

   
    .m-if-login {
        display: none;
        @include mobile-device-screen { 
            display: block;
        }
        padding-top: 20px;
        padding-bottom:20px;
        border-bottom:1px solid #ccc;
        .vendorPic {
            float: left;
            width: 45px;
            height: 45px;
            margin-left: 30px;
            img {
                border-radius:40px;
            }

            
        }
        .vendorInfo {
            display: inline-block;
            padding-left: 20px;
            .vendorName {
                font-family:$proxima;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1.17px;
                line-height: 17px;
            }
    
            .status {
                font-size: 11px;
                color: #848484;
                letter-spacing: 0.9px;
                line-height: 20px;
                text-transform: uppercase;
                .credit {
                    color: #555;
                    display: inline;
                    text-decoration: underline;
                    font-weight: 700;
                }
            }

            a {
                letter-spacing: 0.5px;
                padding-top: 15px;
                display: block;
                color: #698DF5;
            }
        }
        
    }
    border-bottom: none;
    @include mobile-device-screen { 
        border-bottom:1px solid #E3E3E3;  
    }
    background-color: #fff;
    a{
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.2px;
        word-wrap: break-word;
        font-size: 15px;
    }

    .navbar-brand {
        width: 210px;
        height: 50px;
        background-size: 100%;
        background: url(https://alexandra.bridestory.com/image/upload/business-logo.svg) no-repeat 0;
    }

    .navbar-nav {
        @include mobile-device-screen {  
            margin-left: -15px;
            
        }
        
        .nav-item {
            a {
                @include mobile-device-screen { 
                    padding-left: 20px;
                }
            }
        }
    }

    .top-menu {
        float: right;
        @include mobile-device-screen { 
            display: none;
        }
        width: 350px;
        margin-top: 10px;
        li {
            display: inline-block;
            text-align: right;
            @include mobile-device-screen {
                display: block;
                text-align: center;
            }
            a {
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 13px;
                @include mobile-device-screen { 
                    display: block;
                }
    
            }
            .btn-primary {
                font-family: $proxima;
                font-weight: 700;
            }

            .dropdown {
                // border-left: 1px solid #E5E5E5;
                // margin-left: 15px;
            }
        }

        .dropdown-toggle {
            text-transform: uppercase;
            padding: 3px 0px 3px 20px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            &.en {
                background: image-url('icons/Icon_EN.png');
                background-size: 29%;
                background-position: 3px 1px;
                background-repeat: no-repeat;
            }
            &.id { 
                background: image-url('icons/Icon_ID.png');
                background-size: 29%;
                background-position: 3px 1px;
                background-repeat: no-repeat;
            }
        }

        .dropdown-menu {
            min-width: 0rem;
        }

        .dropdown-item {
            width: 56px;
            height: 22px;
            display: block;
            text-transform: uppercase;
            &.en {
                background: image-url('icons/Icon_EN.png');
                background-size: 32%;
                background-position: 3px 1px;
                background-repeat: no-repeat;
            }

            &.id {
                background: image-url('icons/Icon_ID.png');
                background-size: 32%;
                background-position: 3px 1px;
                background-repeat: no-repeat;
            }
        }

        .if-login {
            border-left:none !important;
            margin-left: 0px !important;
            .dropdown-toggle {
                padding: 0px 20px 0px 0px !important;
                border-right: 1px solid #E5E5E5;
            }
            .dropdown-toggle::after {
                margin-left: 20px;
                vertical-align: 11px;
            }
            .dropdown-menu {
                min-width:17rem;
                top: 120%;
            }
            .vendorPic {
                width: 38px;
                height: 38px;
                float: left;
                img{
                    border-radius:40px;
                }
            }
            .vendorInfo {
                display: inline-block;
                padding-left: 10px;
                .vendorName {
                    font-family:$proxima;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 1.17px;
                    line-height: 17px;
                    text-align: left;
                }
        
                .status {
                    font-size: 11px;
                    color: #848484;
                    letter-spacing: 0.9px;
                    line-height: 20px;
                    text-transform: uppercase;
                    .credit {
                        color: #555;
                        display: inline;
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
    
                a {
                    letter-spacing: 0.5px;
                    padding-top: 15px;
                    display: block;
                    color: #698DF5;
                }
            }
            
        }
    }

    
    
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
    margin-right:40px;
    padding-bottom: 15px;
    background-repeat:no-repeat;
    background-position-x: 50px;
    background-position-y: center;
    &.active {
        border-bottom: 3px solid #698DF5;
    }
 
    &.Home {
        @include mobile-device-screen { 
            background-image: image-url('m-icons/m-home.png');
        }
    }

    &.Benefits {
        @include mobile-device-screen { 
            background-image: image-url('m-icons/m-benefits.png');
        }
    }

    &.Stories {
        @include mobile-device-screen { 
            background-image: image-url('m-icons/m-sucess_stories.png');
        }
    }

    &.Pricing {
        @include mobile-device-screen { 
            background-image: image-url('m-icons/m-pricing.png');
        }
    }

    &.blog {
        @include mobile-device-screen { 
            background-image: image-url('m-icons/m-blog.png');
        }
    }

    @include mobile-device-screen { 
        padding: 15px 0 15px 85px;
        border-bottom: 1px solid #E3E3E3;
        color: #555;
        margin-right: 0px;
        text-transform: uppercase;
    }
    &.active {
        @include mobile-device-screen { 
            border-bottom: 1px solid #E3E3E3;
        }
    }
}

.navbar-header {
    padding: 10px 0px 0px 15px !important;
    display: block;
    @include mobile-device-screen {
        padding:0px !important;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
}

.navbar-expand-lg {
    padding: 20px 0px 0px 15px;
    @include mobile-device-screen {
        padding: 0px;
    }
}

.navbar-light {

    .navbar-toggler {
        border:none;
    }

}

.navbar-collapse {
    .m-top {
        border-bottom:1px solid #E3E3E3;
        display: none;
        @include mobile-device-screen { 
            display: block;
        }
    }
    .m-btm {
        display: none;
        @include mobile-device-screen { 
            display: block;
        }

        .nav-link {
            &.toggle-en {
                background-repeat:no-repeat;
                background-position-x: 50px;
                background-position-y: center;
                background-image: image-url('m-icons/Icon_EN.png');
            }
        }

        .dropdown-item {
                background-position-y: center;
                padding-left: 50px;
                background-repeat:no-repeat;
                background-position-x: 20px;
            &.en {
                background-image: image-url('m-icons/Icon_EN.png');   
            }
            &.id {
                background-image: image-url('m-icons/Icon_ID.png');   
            }
        }
    }
}