@import './colors.scss';
@import './fonts.scss';
@import './_mixins.scss';

header {
    //.navbar {
    //     display: block;
    // }
    border-bottom: none;
    @include mobile-device-screen { 
        border-bottom:1px solid #E3E3E3;  
    }
    background-color: #fff;
    a{
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.2px;
        word-wrap: break-word;
        font-size: 15px;
    }

    .navbar-brand {
        width: 210px;
        @include mobile-device-screen { 
            width: 275px;
        }
        height: 50px;
        background-size: 100%;
        background: url(https://alexandra.bridestory.com/image/upload/business-logo.svg) no-repeat 0;
    }

    .top-menu {
        float: right;
        width: 350px;
        margin-top: 10px;
        li {
            display: inline-block;
            text-align: right;
            @include mobile-device-screen {
                display: block;
                text-align: center;
            }
            a {
                font-family: $brandon-bold;
                letter-spacing: 1px;
                font-size: 13px;
                @include mobile-device-screen { 
                    display: block;
                }
    
            }
            .btn-primary {
                font-family: $proxima;
                font-weight: 700;
            }

            .dropdown {
                border-left: 1px solid #E5E5E5;
                margin-left: 15px;
                text-transform: uppercase;
            }
        }
    }
    
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
    margin-right:40px;
    padding-bottom: 15px;

    &.active {
        border-bottom: 3px solid $soft-blue;
    }
}

.navbar-header {
    padding: 10px 0px 0px 15px !important;
    display: block;
    @include mobile-device-screen {
        padding:0px !important;
        display: flex;
    }
}

.navbar-expand-lg {
    padding: 20px 0px 0px 15px
}
