@import './fonts.scss';
@import './colors.scss';
@import './sosmed_icons.scss';
@import './mixins.scss';

.pricing-header {
	height: 300px;
    background: url('../assets/background/06-Pricing.jpg');
    background-size: cover;

    .title {
    	top: 50%;
    	left: 50%;
    	position: relative;
        float: left;
        transform: translate(-50%, -50%);
	    h1 {
	    	font-family: $proxima-bold;
			font-size: 42px;
			font-weight: 700;
	    }
    }
}


.border-bottom-text {
	margin-top: 20px;
	border-bottom: 3px solid $dark-pink;
	width: 3vw;
	margin-left: auto;
	margin-right: auto;
}

.pricing-content {
	h2 {
		text-align: center;
		font-size: 33px;
		font-family: $proxima-bold;
	}

	p {
		font-size: 13px;
		letter-spacing: .3px;
		line-height: 18px;
	}

	.f-s-22 {
		font-size: 22px;
	}

	.bold {
		font-family: $proxima-bold;
	}

	.bg-gray {
		background-color: $soft-gray;
	}

	.center-position {
		margin-left: auto;
		margin-right: auto;		

		[class*='col-'] {
			padding: 0;
			float: left;
		}
	}

	.text-center {
		text-align: center;
	}

	.gold {
		color: $gold;
	}

	.silver {
		color: $silver;
	}

	i {
		font-size: 18px;
		&.green {
			color: $turqoise;
		}
		&.red {
			color: $red;
		}
		&.blue {
			color: $soft-blue;
		}
	}

	.select-category {
		background: url(../assets/icons/arrow-down.png);
	    background-repeat: no-repeat;
	    width: 100%;
	    height: 45px;
	    border: 1px solid $border-gray;
	    border-radius: 4px;
	    background-position: right 10px center;
	    padding: 0;
		select {
			width: 100%;
			height: 40px;
			background: transparent;
			border: none;
			appearance: none;
			padding-left: 10px;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			color: $new-gray;
		}
	}

	input {
		width: 100%;
		height: 40px;
		padding-left: 10px;
		border-radius: 4px;
		box-sizing: border-box;
		border: 1px solid $border-gray;
	}

	.search-city {
		position: relative;
		color: $dark-gray;

		i {
			position: absolute;
			top: 10px;
			right: 5px;
		}
	}

	button.btn {
		width: 100%;
		padding: 10px 0;
		border-radius: 4px;
		background-color: $soft-blue;
		border: 1px solid $soft-blue;
		color: $white;
	}

	.pricing-info {
		margin-top: 80px;

		@include mobile-device-screen {
			padding-top: 40px;
			margin-top: 0;
			border-top: 1px solid $light-gray;
		}

		.pricing-slide {
			display: none;

			.top-slide {
				i {					
					padding: 4px 3px 2px 2px;
					border-radius: 50%;
					font-size: 18px;
					color: #FFF;
				}
				text-transform: uppercase;
			}

			.bottom-slide {
				width: 100%;
				display: table;
				span {
					display: table-cell;
					vertical-align: middle;
				}

				.purchase {
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
					margin-top: 50px;
					width: 170px;

					.btn {
						padding: 10px 30px;
					}
				}
			}

			.gold-plan {
				.top-slide {
					.best-seller {
						background-color: $gold;
						color: $white;
						padding: 7px 30px;
						border-radius: 3px;
						font-family: $brandon-bold;
						letter-spacing: 1px;
						font-size: 16px;
					}

					i {
						background-color: $gold;
					}
				}
			}

			.silver-plan {
				.top-slide {
					i {
						background-color: $silver;
					}
				}
			}

			@include mobile-device-screen {
				display: block;
		    }
		}

		table {	
			@include mobile-device-screen {
				display: none;
		    }
		    
			border-collapse : separate;
			border-spacing: 15px 0;
			display: table;
			font-size: 14px;
			margin-left: -15px;
			[class*='col-'] {
				padding: 0;
				float: left;
			}

			width: 100%;

			tr:nth-child(even) {
				background-color: $soft-gray;
			}
			
			tr:nth-child(odd), tr:last-child {
				background-color: $white;
			}

			tbody {
				td {
					color: $dark-gray;
				}
			}

			th, td {
				&:nth-child(4n+1) {
					width: 350px;
				}

				&:nth-child(1n+2) {
					width: 200px;
					text-align: center;
					vertical-align: top; 

					.best-seller {
						width: 65%;
						background-color: $turqoise;
						padding: 9px 0;
						margin-left: auto;
						margin-right: auto;
						color: $white;
					}

					.price {
						font-size: 16px; 
					}
				}

				&.side-border {
					border-left: 2px solid $turqoise;
					border-right: 2px solid $turqoise;
				}

				&.top-border {
					border-top: 2px solid $turqoise;
				}

				&.bottom-border {
					border-bottom: 2px solid $turqoise;
				}
			}
		}
	}


}