@import './fonts.scss';
@import './colors.scss';

.jumbotron {
    position: relative;
    background: url('../assets/background/01-Homepage-Hero_Image.jpg');
    background-size: cover;
    border-radius:0px;
    form {
        background-color: #fff;
        height: 490px;
        border-radius: 4px;
        padding: 15px;
    }
    h1 {
        font-size: 20px;
        font-weight: 600;
        color: #555;
        font-family: $proxima-semi-bold;
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }
    button {
        width: 100%;
        background-color: $soft-blue;
        font-weight: 600;
    }
}


