/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.brandon-bold {
    font-family: brandon-bold,Helvetica;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    word-wrap: break-word;
    
}

.jumbotron {
    position: relative;
    background: url('../assets/background/01-Homepage-Hero_Image.jpg');
    background-size: cover;
    border-radius:0px;
    form {
        background-color: #fff;
        height: 490px;
        border-radius: 4px;
        padding: 15px;
    }

    button {
        width: 100%;
    }
}


