<% include template/header %>

<section class="benefits-header">
	<div class="title">
		<h1>Benefits</h1>
		<div class="border-bottom-text"><div/>
	</div>
</section>
<section class="benefits-content-1">
	<div class="container">
		<div class="row top">
			<div class="col-12">
				<h2>Build an online presence that works</h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-7">
				<p>
					You can connect to the 500,000 engaged couples who are looking for the right wedding vendors in Bridestory each month
				</p>
				<p>
					"Bridestory, has given a great impact to my business!" Vendor Name - Bridal, Indonesia
				</p>
			</div>
		</div>

		<div class="row bottom">
			<div class="col-4 benefit-list">
				<img src="../assets/icons/10_Benefits_icon_1.png"/>
				<p class="title">
					Largest Wedding Marketplace in South East Asia
				</p>
				<p>
					20,000+ wedding vendors from 70 countries have joined Bridestory to establish their online presence and reach the right audience.
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/11_Benefits_icon_2.png"/>
				<p class="title">
					Search Engine Expert At Your Fingertips
				</p>
				<p> 
					Our expert team will help you optimize your search engine result so you can simply focus on your business.
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/12_Benefits_icon_3.png"/>
				<p class="title">
					Mobile-Oriented Platform
				</p>
				<p>
					Brides-to-be are becoming more mobile. Our award-winning mobile app and website makes it easy for them to find the right vendors.
				</p>
				<p>
					By being listed in Bridestory, they will be able to find you instantly.
				</p>
			</div>
		</div>
	</div>
</section>

<% include template/footer %>
