<% include template/header %>

<section class="benefits-header">
	<div class="title">
		<h1>Benefits</h1>
		<div class="border-bottom-text"><div/>
	</div>
</section>
<section class="benefits-content">
	<div class="container">
		<div class="row top">
			<div class="col-12">
				<h2>Build an online presence that works</h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-10">
				<p>
					You can connect to the 500,000 engaged couples who are looking for the right wedding<br/>vendors in Bridestory each month
				</p>
				<p>
					"Bridestory, has given a great impact to my business!" <em>Vendor Name</em> - Bridal, Indonesia
				</p>
			</div>
		</div>

		<div class="row bottom">
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_1.png"/>
				<p class="title">
					Largest Wedding Marketplace <br/>in South East Asia
				</p>
				<p>
					20,000+ wedding vendors from 70 countries have joined Bridestory to establish their online presence and reach the right audience.
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_2.png"/>
				<p class="title">
					Search Engine Expert At <br/>Your Fingertips
				</p>
				<p> 
					Our expert team will help you optimize your search engine result so you can simply focus on your business.
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_3.png"/>
				<p class="title">
					Mobile-Oriented Platform
				</p>
				<p>
					Brides-to-be are becoming more mobile. Our award-winning mobile app and website makes it easy for them to find the right vendors.
				</p>
				<p>
					By being listed in Bridestory, they will be able to find you instantly.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="benefits-content bg-gray">
	<div class="container">
		<div class="row top">
			<div class="col-12">
				<h2>Expand your business daily</h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-9">
				<p>
					Now you can reach more potential clients and grow your wedding business altogether.
				</p>
			</div>
		</div>

		<div class="row bottom">
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_4.png"/>
				<p class="title">
					Go Global in a click <br/>of a button
				</p>
				<p>
					We enable you to scale your business to multiple cities and countries easily. Just add city on your profile and be ready to get booked by clients accross the globe!
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_5.png"/>
				<p class="title">
					Leverage Our Large <br/>Social Network
				</p>
				<p> 
					Be exposed to our 3+ million social media users. We've been recognized for effectively using social media to help our vendors grow.
				</p>
				<div class="col-12 social">
					<div class="col-1 icon mt-3">
						<span class="icon-instagram"></span>
					</div>
					<div class="col-10 followers">
						<a href="">@thebridestory</a> 582K, <a href="">@thewedlist</a> 808K, <a href="">@thebridebestfriend</a> 297K, <br/><a href="">@weddingdream</a> 1.2M
					</div>
				</div>
				<div class="col-12 social">
					<div class="col-1 icon">
						<span class="icon-facebook"></span>
					</div>
					<div class="col-10 followers">
						<a href="">thebridestory</a> 406K
					</div>
				</div>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_6.png"/>
				<p class="title">
					Large User Base
				</p>
				<p>
					Be found by millions of engaged couples who use Bridestory every year from 170+ countries.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="benefits-content">
	<div class="container">
		<div class="row top">
			<div class="col-12">
				<h2>Interact real time with potential clients</h2>
				<div class="border-bottom-left-text"></div>
			</div>

			<div class="col-10">
				<p>
					See your business grow everyday, everywhere.
				</p>
			</div>
		</div>

		<div class="row bottom">
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_7.png"/>
				<p class="title">
					Interactive
				</p>
				<p>
					Your experience is valuable. We continuously optimize our platform so both vendors and brides-to-be can seamlessly connect anytime, anywhere.
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_8.png"/>
				<p class="title">
					Immediate Results
				</p>
				<p> 
					Monitor your business performance around the clock with real time statistics, and respond to business inquiries immediately with our messaging feature.
				</p>
			</div>
			<div class="col-4 benefit-list">
				<img src="../assets/icons/Benefits_icon_9.png"/>
				<p class="title">
					Bridestory On-The-Go
				</p>
				<p>
					Use our Bridestory Pro app to manage your business anytime, anywhere. Get it for free from <a href="">App Store</a> or <a href="">Google Play</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="benefit-footer">
	<div class="container">
		<div class="title">
			<h2>Want to grow your business with us? Create your FREE business profile now!</h2>
			<div class="button">
				<a href="">Start Free Trial</a>
			</div>
		</div>
	</div>
</section>

<% include template/footer %>
