<% include template/header %>
    <section class="jumbotron">
        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <form action="#">
                    <h1 class="">Create Your Free Business Profile!</h1>
                    <span>Fill in the details below :</span>
                    <div class="form-group ">
                        <select class="form-control m-top20" id="exampleSelect1">
                            <option selected>Service Category</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="" aria-describedby="businessName" placeholder="Business Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Email Address">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="" aria-describedby="passwordHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Please fill your password</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Start Free Trial</button>
                </form>
            </div>
        </div>
    </section>

    <section class="home-benefits bg-white">
     
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text">
                    <h2>Instantly build an <br> online presence</h2>
                    <span class="border-pink"></span>
                    <p>Be discovered by more than 500,000 brides-to-be / month <br>
                    by setting up your business profile on Bridestory!</p>
                    <a href="/benefits#online_presence" class="btn btn-primary">
                        Learn More
                    </a>
                </div>
                <div class="col-lg-6 img">
                    <img class="img-responsive" src="assets/icons/01 Landing Page Icon 1.png" alt="Instantly build an online presence">
                </div>
            </div>
        </div>

        <div class="cover-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 img">
                        <img class="img-responsive" src="assets/icons/02 Landing Page Icon 2.png" alt="Provide your clients with various <br> payment options">
                    </div>
        
                    <div class="col-lg-6 text">
                        <h2>Provide your clients with various <br> payment options</h2>
                        <span class="border-pink"></span>
                        <p>Bridestory Pay       is a wedding payment solution that will provide many benefits, including:</p>
                        <ul>
                            <li><strong>0% installment</strong> up to 24 months from 15 banks for your clients</li>
                            <li><strong>FREE Wedding Cancellation Protection</strong> for your clients</li>
                            <li><strong>Earn Points</strong> for every transactions and redeem to get <br> Bridestory Product and Services for FREE!</li>
                        </ul>
                        <a href="/benefits#online_presence" class="btn btn-primary">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 img">
                    <img class="img-responsive" src="assets/icons/03 Landing Page Icon 3.png" alt="IExpand your business easily">
                </div>
    
                <div class="col-lg-6 text">
                    <h2>Expand your business <br> easily</h2>
                    <span class="border-pink"></span>
                    <p>We let you focus on your great work and leave the marketing  to us. Our platform generates 4,000,000+ business inquiries and reached 6,000,000+ engaged couples from Indonesia and around the world every year.</p>
                    <a href="/benefits#online_presence" class="btn btn-primary">
                        Learn More
                    </a>
                </div>
            </div>
        </div>

        <div class="cover-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text">
                        <h2>Interact real time <br> with potential clients</h2>
                        <span class="border-pink"></span>
                        <p>Follow up and chat with brides-to-be directly with our <br> Bridestory Pro app.
                                !</p>
                        <a href="/benefits#online_presence" class="btn btn-primary">
                            Learn More
                        </a>
                    </div>
                    <div class="col-lg-6 img">
                        <img class="img-responsive" src="assets/icons/04 Landing Page Icon 4.png" alt="Interact real time with potential clients">
                    </div>
                </div>
            </div>
        </div>
    </section>

<% include template/footer %>
