<% include template/header %>

<section class="pricing-header">
	<div class="title">
		<h1>Pricing</h1>
		<div class="border-bottom-text"><div/>
	</div>
</section>
<section class="pricing-content">
	<div class="container">
		<div class="row mt-50 pb-80">
			<div class="col-12">
				<h2>Find a plan that's right for you</h2>
				<div class="border-bottom-text"></div>
			</div>
			<div class="col-12 mt-20">
				<div class="center-position col-6">
					<div class="col-12 mt-20">
						<span class="bold">What business services do you provide?</span>
					</div>
					<div class="col-12 select-category mt-10">
						<select>
							<option value="0">Service Category</option>
						</select>
					</div>
					<div class="col-12 mt-20">
						<span class="bold">Where is your business located?</span>
					</div>
					<div class="col-12 mt-10 search-city">
						<i class="icon-search"></i>
						<input type="text" placeholder="Jakarta, Indonesia">
					</div>
				</div>
			</div>
			<div class="col-12 mt-20">
				<div class="col-2 center-position">
					<button>Check Pricing</button>
				</div>
			</div>
		</div>

		<div class="row mt-80">
			<div class="col-12">
				<table>
					<thead>
						<tr>
							<th class="bold">
								<div class="col-12">
									<span>First, select your business services</span>
								</div>
								<div class="col-12 select-category mt-10">
									<select>
										<option value="0">Photography</option>
									</select>
								</div>
								<div class="col-12 mt-10">
									<span>Next, put in the business location</span>
								</div>
								<div class="col-12 search-city mt-10">
									<i class="icon-search"></i>
									<input type="text" placeholder="Jakarta, Indonesia">
								</div>
							</th>
							<th>
								<div class="col-12 pt-10 pb-10">
									&nbsp;
								</div>
								<div class="col-12 pt-10 pb-10">
									<span class="bold price">SILVER</span>
								</div>
								<div class="col-12 pt-10 pb-10">
									<span class="bold">UNLIMITED CREDITS</span> FOR
								</div>
								<div class="col-12 pt-10 pb-10 bg-gray">
									IDR <span class="bold price">500,000</span>/MO
								</div>
							</th>
							<th class="side-border top-border">
								<div class="col-12">
									<div class="best-seller">BEST SELLER</div>
								</div>
								<div class="col-12 pt-10 pb-10">
									<span class="bold price">GOLD</span>
								</div>
								<div class="col-12 pt-10 pb-10">
									<span class="bold">UNLIMITED CREDITS</span> FOR
								</div>
								<div class="col-12 pt-10 pb-10 bg-gray">
									IDR <span class="bold price">250,000</span>/MO
								</div>
							</th>
							<th>
								<div class="col-12 pt-10 pb-10">
									&nbsp;
								</div>
								<div class="col-12 pt-10 pb-10">
									<span class="bold price">TRIAL</span>
								</div>
								<div class="col-12 pt-10 pb-10">
									&nbsp;
								</div>
								<div class="col-12 pt-10 pb-10">
									&nbsp;
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td class="side-border">
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Credits <i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="Credits"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									Unlimited
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									Unlimited
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									35 Credits
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Premium listing -Featured on Vendor List
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="red icon-cancel-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="red icon-cancel-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Show All Contact Details On My Profile
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									Only When You Have Credits
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Check Messages In Your Bridestory Inbox
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									Only When You Have Credits
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Listed in Bridestory
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									0% Installment for clients** <i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="0% Installment for clients"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									No MDR Charge
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									No MDR Charge
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									No MDR Charge
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Wedding Protection for clients** <i class="blue icon-info-circled" data-toggle="tooltip" data-placement="right" title="Wedding Protection for clients"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Search Marketing
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="red icon-cancel-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="red icon-cancel-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Featured in Bridestory Magazine
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="red icon-cancel-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Access to statistic
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									Only When You Have Credits
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Hilda business partner
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="red icon-cancel-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Access to Bridestory Pro app
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Review request tool
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-10 pb-10 ml-10">
									Respond to reviews
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td class="side-border bottom-border">
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
							<td>
								<div class="col-12 pt-10 pb-10">
									<i class="green icon-ok-circled"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-12 pt-20 pb-10">
									&nbsp;
								</div>
							</td>
							<td>
								<div class="col-12 pt-20 pb-10">
									<button>Purchase Now</button>
								</div>
							</td>
							<td>
								<div class="col-12 pt-20 pb-10">
									<button>Purchase Now</button>
								</div>
							</td>
							<td>
								<div class="col-12 pt-20 pb-10">
									<button>Purchase Now</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row mt-50 pb-80">
			<div class="col-7">
				<p>
					*The pricess quoted above are exclusive of VAT as determined by applicable tax law
				</p>
				<p>
					**Currently only available in Indonesia
				</p>
			</div>
		</div>
	</div>
</section>

<% include template/footer %>
