<% include template/header %>
    <section class="page-header testimonials">
        <div class="title">
            <h1>Sucess Stories</h1>
            <div class="border-bottom-text"><div/>
        </div>
    </section>

    <section class="sucess-stories pd-section">
        <div class="container">
            <div class="row">
                <% testimonials.forEach((testimoni)=>{ %>
                <div class="col-lg-6 col-md-6 col-xs-12 testimonial">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12">
                            <div class="profpic"></div>
                        </div>
                        <div class="col-lg-9 col-xs-12 text">
                            <p><%= testimoni.vendor_testi %></p>
                            <span class="border-pink"></span>
                            <p class="name f-w700 m-top40"><%= testimoni.vendor_cp %></p>
                            <p class="role"><%= testimoni.vendor_name %></p>
                        </div>
                        <div></div>
                    </div>
                </div>
                <% }) %>
            
            </div>
            <div class="row text-center m-top40">
                <a href="#" class="btn btn-primary mid-button center-block ">See Other Success Stories</a>
            </div>
        </div>
    </section>
<% include template/footer %>