@charset "UTF-8";
@font-face { font-family: 'brandon-bold'; src: url("../assets/fonts/Brandon_bld.otf"); }
@font-face { font-family: 'brandon-reg-italic'; src: url("../assets/fonts/Brandon_reg_it.otf"); }
@font-face { font-family: 'brandon-reg'; src: url("../assets/fonts/Brandon_reg.otf"); }
@font-face { font-family: 'proxima-reg'; src: url("../assets/fonts/Proxima_Nova_Regular.otf"); }
@font-face { font-family: 'proxima-bold'; src: url("../assets/fonts/Proxima_Nova_Bold.otf"); }
@font-face { font-family: 'proxima-semi-bold'; src: url("../assets/fonts/Proxima_Nova_Semibold.otf"); }
@font-face { font-family: 'fontello'; src: url("../assets/fonts/fontello.eot?47685461"); src: url("../assets/fonts/fontello.eot?47685461#iefix") format("embedded-opentype"), url("../assets/fonts/fontello.woff2?47685461") format("woff2"), url("../assets/fonts/fontello.woff?47685461") format("woff"), url("../assets/fonts/fontello.ttf?47685461") format("truetype"), url("../assets/fonts/fontello.svg?47685461#fontello") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'fontello'; src: url("../assets/fonts/fontello.eot?47685461"); src: url("../assets/fonts/fontello.eot?47685461#iefix") format("embedded-opentype"), url("../assets/fonts/fontello.woff2?47685461") format("woff2"), url("../assets/fonts/fontello.woff?47685461") format("woff"), url("../assets/fonts/fontello.ttf?47685461") format("truetype"), url("../assets/fonts/fontello.svg?47685461#fontello") format("svg"); font-weight: normal; font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) { @font-face { font-family: 'fontello'; src: url('../font/fontello.svg?47685461#fontello') format('svg'); }
}
*/
/* line 23, ../sass/sosmed_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; /* Animation center compensation - margins should be symmetric */ /* remove if not needed */ margin-left: .2em; /* you can be more comfortable with increased icons size */ /* font-size: 120%; */ /* Font smoothing. That was taken from TWBS */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */ /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 58, ../sass/sosmed_icons.scss */
.icon-path:before { content: '\e800'; }

/* '' */
/* line 59, ../sass/sosmed_icons.scss */
.icon-search:before { content: '\e801'; }

/* '' */
/* line 60, ../sass/sosmed_icons.scss */
.icon-ok-circled:before { content: '\e802'; }

/* '' */
/* line 61, ../sass/sosmed_icons.scss */
.icon-cancel-circled:before { content: '\e803'; }

/* '' */
/* line 62, ../sass/sosmed_icons.scss */
.icon-info-circled:before { content: '\e804'; }

/* '' */
/* line 63, ../sass/sosmed_icons.scss */
.icon-left-open:before { content: '\e805'; }

/* '' */
/* line 64, ../sass/sosmed_icons.scss */
.icon-right-open:before { content: '\e806'; }

/* '' */
/* line 65, ../sass/sosmed_icons.scss */
.icon-instagram-circled:before { content: '\f05e'; }

/* '' */
/* line 66, ../sass/sosmed_icons.scss */
.icon-twitter:before { content: '\f099'; }

/* '' */
/* line 67, ../sass/sosmed_icons.scss */
.icon-facebook:before { content: '\f09a'; }

/* '' */
/* line 68, ../sass/sosmed_icons.scss */
.icon-instagram:before { content: '\f16d'; }

/* '' */
/* line 69, ../sass/sosmed_icons.scss */
.icon-diamond:before { content: '\f219'; }

/* '' */
/* line 70, ../sass/sosmed_icons.scss */
.icon-twitter-circled:before { content: '\f30a'; }

/* '' */
/* line 6, ../sass/benefits.scss */
.benefits-content { padding: 70px 0; }
@media only screen and (max-width: 1023px) { /* line 6, ../sass/benefits.scss */
  .benefits-content { padding: 20px 0 50px; } }
/* line 13, ../sass/benefits.scss */
.benefits-content [class*='col-'] { padding: 0; float: left; }
@media only screen and (max-width: 1023px) { /* line 13, ../sass/benefits.scss */
  .benefits-content [class*='col-'] { padding: 0 15px; } }
/* line 22, ../sass/benefits.scss */
.benefits-content.bg-gray { background-color: #F8F8F8; }
/* line 27, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list { padding: 10px 34px; }
/* line 30, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list .social { font-family: "proxima-bold"; margin-top: 10px; font-size: 11px; font-weight: 700; line-height: 18px; }
/* line 37, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list .social a { color: #698DF5; }
/* line 41, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list .social .icon { font-size: 16px; margin-left: -4px; }
/* line 42, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list .social .icon.mt-3 { margin-top: 3px !important; }
/* line 49, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list .social .followers { margin-left: 5px; }
@media only screen and (max-width: 1023px) { /* line 30, ../sass/benefits.scss */
  .benefits-content .bottom .benefit-list .social { padding: 0; }
  /* line 55, ../sass/benefits.scss */
  .benefits-content .bottom .benefit-list .social .icon { margin-left: 0; padding: 0; }
  /* line 60, ../sass/benefits.scss */
  .benefits-content .bottom .benefit-list .social .followers { margin-left: 0; padding: 0; } }
/* line 67, ../sass/benefits.scss */
.benefits-content .bottom .benefit-list p { margin-top: 10px; padding-right: 4.6vw; }
@media only screen and (max-width: 1023px) { /* line 27, ../sass/benefits.scss */
  .benefits-content .bottom .benefit-list { padding: 0 15px; } }
/* line 79, ../sass/benefits.scss */
.benefits-content img { height: 150px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 40px; }
@media only screen and (max-width: 1023px) { /* line 79, ../sass/benefits.scss */
  .benefits-content img { height: 170px; margin-top: 50px; } }
/* line 92, ../sass/benefits.scss */
.benefits-content h2 { font-family: "proxima-bold"; font-size: 28px; font-weight: 700; line-height: 43px; }
@media only screen and (max-width: 1023px) { /* line 92, ../sass/benefits.scss */
  .benefits-content h2 { font-size: 22px; } }
/* line 103, ../sass/benefits.scss */
.benefits-content p { margin-top: 20px; font-size: 14px; line-height: 20px; color: #555555; }
/* line 109, ../sass/benefits.scss */
.benefits-content p em { font-family: "proxima-semi-bold"; }
/* line 113, ../sass/benefits.scss */
.benefits-content p.title { font-size: 16px; font-family: "proxima-bold"; height: 50px; }
@media only screen and (max-width: 1023px) { /* line 113, ../sass/benefits.scss */
  .benefits-content p.title { height: auto; } }
/* line 124, ../sass/benefits.scss */
.benefits-content .border-bottom-left-text { margin-top: 10px; border-bottom: 3px solid #FF3366; width: 45px; margin-left: 3px; }

/* line 132, ../sass/benefits.scss */
.benefit-footer { height: 265px; background: url("../assets/background/03-Homepage-Create_Account_Section.jpg"); background-size: cover; }
/* line 137, ../sass/benefits.scss */
.benefit-footer .title { top: 50%; left: 50%; position: relative; float: left; transform: translate(-50%, -50%); text-align: center; }
/* line 144, ../sass/benefits.scss */
.benefit-footer .title h2 { font-family: "proxima-semi-bold"; font-size: 22px; color: #FFF; }
@media only screen and (max-width: 1023px) { /* line 144, ../sass/benefits.scss */
  .benefit-footer .title h2 { font-size: 18px; line-height: 25px; } }
/* line 154, ../sass/benefits.scss */
.benefit-footer .title .border-bottom-text { display: none; }
@media only screen and (max-width: 1023px) { /* line 137, ../sass/benefits.scss */
  .benefit-footer .title { padding: 0 13px; }
  /* line 160, ../sass/benefits.scss */
  .benefit-footer .title .border-bottom-text { display: block; margin-top: 10px; border-bottom: 3px solid #FF3366; width: 10%; margin-left: auto; margin-right: auto; } }
/* line 170, ../sass/benefits.scss */
.benefit-footer .title .button { margin-top: 35px; }
/* line 172, ../sass/benefits.scss */
.benefit-footer .title .button a { padding: 8px 25px; background: #698DF5; border-radius: 4px; font-size: 14px; color: #FFF; }
@media only screen and (max-width: 1023px) { /* line 170, ../sass/benefits.scss */
  .benefit-footer .title .button { margin-top: 25px; } }
