/* line 2, ../sass/margin+padding.scss */
.mt-10 { margin-top: 10px; }

/* line 5, ../sass/margin+padding.scss */
.mt-20 { margin-top: 20px; }

/* line 8, ../sass/margin+padding.scss */
.mt-30 { margin-top: 30px; }

/* line 11, ../sass/margin+padding.scss */
.mt-40 { margin-top: 40px; }

/* line 14, ../sass/margin+padding.scss */
.mt-50 { margin-top: 50px; }

/* line 17, ../sass/margin+padding.scss */
.mt-60 { margin-top: 60px; }

/* line 20, ../sass/margin+padding.scss */
.mt-70 { margin-top: 70px; }

/* line 23, ../sass/margin+padding.scss */
.mt-80 { margin-top: 80px; }

/* line 26, ../sass/margin+padding.scss */
.mt-90 { margin-top: 90px; }

/* line 29, ../sass/margin+padding.scss */
.mt-100 { margin-top: 100px; }

/* line 34, ../sass/margin+padding.scss */
.mb-10 { margin-bottom: 10px; }

/* line 37, ../sass/margin+padding.scss */
.mb-20 { margin-bottom: 20px; }

/* line 40, ../sass/margin+padding.scss */
.mb-30 { margin-bottom: 30px; }

/* line 43, ../sass/margin+padding.scss */
.mb-40 { margin-bottom: 40px; }

/* line 46, ../sass/margin+padding.scss */
.mb-50 { margin-bottom: 50px; }

/* line 49, ../sass/margin+padding.scss */
.mb-60 { margin-bottom: 60px; }

/* line 52, ../sass/margin+padding.scss */
.mb-70 { margin-bottom: 70px; }

/* line 55, ../sass/margin+padding.scss */
.mb-80 { margin-bottom: 80px; }

/* line 58, ../sass/margin+padding.scss */
.mb-90 { margin-bottom: 90px; }

/* line 61, ../sass/margin+padding.scss */
.mb-100 { margin-bottom: 100px; }

/* line 66, ../sass/margin+padding.scss */
.mr-10 { margin-right: 10px; }

/* line 69, ../sass/margin+padding.scss */
.mr-20 { margin-right: 20px; }

/* line 72, ../sass/margin+padding.scss */
.mr-30 { margin-right: 30px; }

/* line 75, ../sass/margin+padding.scss */
.mr-40 { margin-right: 40px; }

/* line 78, ../sass/margin+padding.scss */
.mr-50 { margin-right: 50px; }

/* line 81, ../sass/margin+padding.scss */
.mr-60 { margin-right: 60px; }

/* line 84, ../sass/margin+padding.scss */
.mr-70 { margin-right: 70px; }

/* line 87, ../sass/margin+padding.scss */
.mr-80 { margin-right: 80px; }

/* line 90, ../sass/margin+padding.scss */
.mr-90 { margin-right: 90px; }

/* line 93, ../sass/margin+padding.scss */
.mr-100 { margin-right: 100px; }

/* line 98, ../sass/margin+padding.scss */
.ml-10 { margin-left: 10px; }

/* line 101, ../sass/margin+padding.scss */
.ml-20 { margin-left: 20px; }

/* line 104, ../sass/margin+padding.scss */
.ml-30 { margin-left: 30px; }

/* line 107, ../sass/margin+padding.scss */
.ml-40 { margin-left: 40px; }

/* line 110, ../sass/margin+padding.scss */
.ml-50 { margin-left: 50px; }

/* line 113, ../sass/margin+padding.scss */
.ml-60 { margin-left: 60px; }

/* line 116, ../sass/margin+padding.scss */
.ml-70 { margin-left: 70px; }

/* line 119, ../sass/margin+padding.scss */
.ml-80 { margin-left: 80px; }

/* line 122, ../sass/margin+padding.scss */
.ml-90 { margin-left: 90px; }

/* line 125, ../sass/margin+padding.scss */
.ml-100 { margin-left: 100px; }

/* line 130, ../sass/margin+padding.scss */
.pt-10 { padding-top: 10px !important; }

/* line 133, ../sass/margin+padding.scss */
.pt-20 { padding-top: 20px !important; }

/* line 136, ../sass/margin+padding.scss */
.pt-30 { padding-top: 30px !important; }

/* line 139, ../sass/margin+padding.scss */
.pt-40 { padding-top: 40px !important; }

/* line 142, ../sass/margin+padding.scss */
.pt-50 { padding-top: 50px !important; }

/* line 145, ../sass/margin+padding.scss */
.pt-60 { padding-top: 60px !important; }

/* line 148, ../sass/margin+padding.scss */
.pt-70 { padding-top: 70px !important; }

/* line 151, ../sass/margin+padding.scss */
.pt-80 { padding-top: 80px !important; }

/* line 154, ../sass/margin+padding.scss */
.pt-90 { padding-top: 90px !important; }

/* line 157, ../sass/margin+padding.scss */
.pt-100 { padding-top: 100px !important; }

/* line 162, ../sass/margin+padding.scss */
.pb-10 { padding-bottom: 10px !important; }

/* line 165, ../sass/margin+padding.scss */
.pb-20 { padding-bottom: 20px !important; }

/* line 168, ../sass/margin+padding.scss */
.pb-30 { padding-bottom: 30px !important; }

/* line 171, ../sass/margin+padding.scss */
.pb-40 { padding-bottom: 40px !important; }

/* line 174, ../sass/margin+padding.scss */
.pb-50 { padding-bottom: 50px !important; }

/* line 177, ../sass/margin+padding.scss */
.pb-60 { padding-bottom: 60px !important; }

/* line 180, ../sass/margin+padding.scss */
.pb-70 { padding-bottom: 70px !important; }

/* line 183, ../sass/margin+padding.scss */
.pb-80 { padding-bottom: 80px !important; }

/* line 186, ../sass/margin+padding.scss */
.pb-90 { padding-bottom: 90px !important; }

/* line 189, ../sass/margin+padding.scss */
.pb-100 { padding-bottom: 100px !important; }

/* line 194, ../sass/margin+padding.scss */
.pr-10 { padding-right: 10px; }

/* line 197, ../sass/margin+padding.scss */
.pr-20 { padding-right: 20px; }

/* line 200, ../sass/margin+padding.scss */
.pr-30 { padding-right: 30px; }

/* line 203, ../sass/margin+padding.scss */
.pr-40 { padding-right: 40px; }

/* line 206, ../sass/margin+padding.scss */
.pr-50 { padding-right: 50px; }

/* line 209, ../sass/margin+padding.scss */
.pr-60 { padding-right: 60px; }

/* line 212, ../sass/margin+padding.scss */
.pr-70 { padding-right: 70px; }

/* line 215, ../sass/margin+padding.scss */
.pr-80 { padding-right: 80px; }

/* line 218, ../sass/margin+padding.scss */
.pr-90 { padding-right: 90px; }

/* line 221, ../sass/margin+padding.scss */
.pr-100 { padding-right: 100px; }

/* line 226, ../sass/margin+padding.scss */
.pl-10 { padding-left: 10px; }

/* line 229, ../sass/margin+padding.scss */
.pl-20 { padding-left: 20px; }

/* line 232, ../sass/margin+padding.scss */
.pl-30 { padding-left: 30px; }

/* line 235, ../sass/margin+padding.scss */
.pl-40 { padding-left: 40px; }

/* line 238, ../sass/margin+padding.scss */
.pl-50 { padding-left: 50px; }

/* line 241, ../sass/margin+padding.scss */
.pl-60 { padding-left: 60px; }

/* line 244, ../sass/margin+padding.scss */
.pl-70 { padding-left: 70px; }

/* line 247, ../sass/margin+padding.scss */
.pl-80 { padding-left: 80px; }

/* line 250, ../sass/margin+padding.scss */
.pl-90 { padding-left: 90px; }

/* line 253, ../sass/margin+padding.scss */
.pl-100 { padding-left: 100px; }
