@media (max-width: 991.98px) { /* line 6, ../sass/mobile.scss */
  .d-hide { display: block; }
  /* line 9, ../sass/mobile.scss */
  .m-hide { display: none !important; }
  /* line 14, ../sass/mobile.scss */
  header .navbar-expand-lg { padding: 0px; }
  /* line 17, ../sass/mobile.scss */
  header .navbar-light .navbar-toggler { border: none; } }
