<footer class="container-fluid">
    <div class="container">
        <div class="row top">
            <div class="col-lg-2 col-md-4 col-xs-6">
                <h4 class="brandon-bold">BRIDESTORY</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <h4 class="brandon-bold">BRIDES-TO-BE</h4>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Bridestory App</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6">
                <h4 class="brandon-bold">Business</h4>
                <ul>
                    <li><a href="#">Become a Vendor</a></li>
                    <li><a href="#">Business Blog</a></li>
                    <li><a href="#">Bridestory Pro</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6">
                <h4 class="brandon-bold">Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6">
                <h4 class="brandon-bold">Follow Us</h4>
                <ul class="sosmed-footer">
                    <li><a class="fb" href="#"></a></li>
                    <li><a class="twt" href=""></a></li>
                    <li><a class="ig" href=""></a></li>
                    <li><a class="pin" href=""></a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6">
                <h4 class="brandon-bold">Language</h4>
                <form action="">
                    <select name="">
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row btm justify-content-between">
            <div class="col-4">
                <img class="footer-logo" src="assets/icons/footer_logo.png" alt="bridestory logo">
            </div>
    
        </div>
    </div>
</footer>

</body>

</html>