<footer>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-xs-6">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="row"></div>
</footer>

</body>
</html>